body,
html {
  margin: 0;
  padding: 0;
  background-color: #0c0726;
  background-image: url("https://img.freepik.com/free-vector/matrix-style-binary-code-digital-falling-numbers-blue-background_1017-37387.jpg");
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box;
  font-family: "Red Hat Display", "Montserrat", sans-serif;
  overflow: hidden;
}

.backdrop {
  display: none;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.instructions {
  color: white;
  display: none;
  position: absolute;
  width: 90vw;
  height: 90vh;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000205;
  background-image: url("../assets/gradient-1.svg");
  background-position: center;
  background-size: cover;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 40px #190a24;
  overflow-y: auto;
}

.instructions h2 {
  margin-left: 1em;
}

#close {
  position: fixed;
  top: calc(5vw - 5vh);
  right: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.7px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.horiz {
  display: block;
  width: 2px;
  height: 15px;
  background: white;
  position: absolute;
  transform: rotate(-45deg);
}

.verti {
  display: block;
  width: 2px;
  height: 15px;
  background: white;
  position: absolute;
  transform: rotate(45deg);
}

#header {
  width: 100%;
  margin-top: 3vh;
  margin-right: 10px;
}

#header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

#header ul > div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

#header ul li {
  font-size: 20px;
  color: #f5f5f5;
  padding: 10px 30px;
  border-radius: 25px;
  margin: 5px;
  cursor: pointer;
  transition: all 100ms linear;
}

#header ul li:hover {
  background-color: #199ED7;
}

.enter-button-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 3vw;
}

.enter-button-list {
  font-size: 20px;
  color: #f5f5f5;
  padding: 10px 30px;
  border-radius: 25px;
  margin: 5px;
  cursor: pointer;
  transition: all 100ms linear;
}

.enter-button-list:hover {
  background-color: #199ED7;
}

#content {
  min-width: 70vw;
  min-height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content a,
#header a {
  text-decoration: none;
}

.row {
  display: flex;
}

#content button {
  outline: none;
  font-size: 1.15rem;
  padding: 0px 40px;
  width: auto;
  min-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background-color: rgba(15, 10, 38, 0.8);
  border: 1px solid whitesmoke;
  font-family: "Red Hat Display", "Montserrat", sans-serif;
  border-radius: 3.5vh;
  margin: 10px 0;
  cursor: pointer;
  transition: all 100ms linear;
}

#content button:hover {
  background-color: #199ED7;
}

#content button:focus {
  outline: none;
}

#content #details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: whitesmoke;
  justify-content: flex-start;
}

.title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: -5px;
}

.descrip {
  width: 90%;
  line-height: 1.7;
  font-size: 1.05rem;
  margin-bottom: 50px;
}

/* br:nth-child(2) {
    display: none;
} */

#event-logo {
  position: relative;
  margin-top: 70px;
  margin-right: 20px;
  width: 200px;
  height: 200px;
}

#footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

#footer p {
  display: none;
  color: whitesmoke;
  margin: 10px auto;
}

.club-logo {
  position: absolute;
  bottom: 2vw;
  right: 2vw;
  width: 70px;
  height: 70px;
}

#footer {
  width: 100%;
  position: absolute;
  bottom: 50px;
  display: grid;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
}

#sponsors-container {
  display: grid;
  background: rgba(255, 255, 255, 0);
  grid-template-rows: auto auto;
  margin-top: 200px;
}

.logo-container {
  display: grid;
  padding: 20px;
  opacity: 1;
  text-align: center;
  font-size: 20px;
  align-items: center;
}

#logo-img {
  display: grid;
  grid-template-columns: auto auto auto;
}

#spon-title {
  display: grid;
  grid-template-columns: auto auto auto;
  color: aqua;
}
